<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on("{{ events.SERVER_EVENT_LOG_MESSAGE }}", (message) => {
    const messageList = document.getElementById("messageList");
    const newMessage = document.createElement("li");
    newMessage.appendChild(document.createTextNode(`[${message.date}] ${message.username}: ${message.text}`));
    messageList.insertBefore(newMessage, messageList.firstChild);
  });

  socket.on("{{ events.SERVER_EVENT_PLAYER_COUNT_CHANGED }}", (newCount) => {
    document.getElementById("numLivePlayers").innerHTML = newCount;
  });

  socket.on("{{ events.SERVER_EVENT_WORLD_COUNT_CHANGED }}", (newCount) => {
    document.getElementById("numLiveWorlds").innerHTML = newCount;
  });

  let disconnectAllWarning = false;

  const disconnectAll = () => {
    if (!disconnectAllWarning) {
      disconnectAllWarning = true;
      document.getElementById("disconnectWarning").innerHTML = "Are you sure?";
      return;
    }
    disconnectAllWarning = false;
    document.getElementById("disconnectWarning").innerHTML = "";
    socket.emit("{{ events.SERVER_EVENT_DISCONNECT_ALL }}");
  }

  const makeItTomorrow = () => {
    socket.emit("{{ events.SERVER_EVENT_TOMORROW }}", (today) => {
      document.getElementById("today").innerHTML = today;
    });
  };

  const makeItYesterday = () => {
    socket.emit("{{ events.SERVER_EVENT_YESTERDAY }}", (today) => {
      document.getElementById("today").innerHTML = today;
    });
  }
</script>
<h1>Fill In The World</h1>
<section>
  <span>
    This is the admin panel for the live Fill In The World Server.
    Take care with these actions, they can mess up player data!
    For example, changing dates in a non-linear way breaks the sorted array assumption.
    The game client is hosted at:
  </span>
  <a href="https://fitw.azurewebsites.net/">https://fitw.azurewebsites.net/</a>
</section>
<section>
  <span>There are </span>
  <span id="numLivePlayers">{{numLivePlayers}}</span>
  <span> currently connected players in </span>
  <span id="numLiveWorlds">{{numLiveWorlds}}</span>
  <span> worlds.</span>
  <button onclick="disconnectAll()">Disconnect everyone!</button>
  <span id="disconnectWarning" style="color: red;"></span>
</section>
<section>
  <span>The current server date is </span>
  <span id="today">{{today}}</span>
  <button onclick="makeItTomorrow()">Make it tomorrow!</button>
  <button onclick="makeItYesterday()">Make it yesterday!</button>
</section>
<section>
  <label>Server log:</label>
  <ul id="messageList">
    {{#each serverLogMessages}}
    <li>[{{date}}] {{this.username}}: {{this.text}}</li>
    {{/each}}
  </ul>
</section>