<h1>Fill In The World</h1>
<p>
    <span>
        You have reached the live Fill In The World Server.
        There is nothing else to see here.
        To play the game, please visit
    </span>
    <a href="https://fitw.azurewebsites.net/">https://fitw.azurewebsites.net/</a>
</p>
<p>
    There are {{numLivePlayers}} currently connected players in {{numLiveWorlds}} worlds.
</p>
<div>
    <label>Server messages:</label>
    <ul>
        {{#each messages}}
        <li>[{{date}}] {{this.username}}: {{this.text}}</li>
        {{/each}}
    </ul>
</div>